# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# IDE
*.xcuserdata
*.xccheckout
*.xcscmblueprint
.idea/
